<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Exponential Moving Average Examples:</h1> -->
    <h2>EMA Support Example (20/40/55):</h2>
    <a href="/indicators">Return to Indicators Page</a>
    <img src="static\img\ema_support.png" alt="ema support">
    <h2>EMA Resistance Example (20/40/55):</h2>
    <a href="/indicators">Return to Indicators Page</a>
    <img src="static\img\ema_resistance.png" alt="ema resistance">
    <h2>Bonus > Golden Cross (uses BOTH EMA's & MA):</h2>
    <a href="/indicators">Return to Indicators Page</a>
    <img src="static\img\golden_cross.png" alt="golden cross">
    <h2>Bonus > Death Cross (uses BOTH EMA's & MA):</h2>
    <a href="/indicators">Return to Indicators Page</a>
    <img src="static\img\death_cross.png" alt="golden cross">
</body>
</html>