<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="container">
        <h1>Trading Pro</h1>
        <h2>"Bulls make money, bears make money and pigs get slaughtered."</h2>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Trading Philosophy</a></li>
            <li><a href="">Indicators</a></li>
            <li><a href="">Position Size Calculator</a></li>
            <li><a href="">Trade Journal</a></li>
        </ul>
        <img src="static\img\trading_pic.jpg" alt="trading_photo">
        <div id="any">
            <h1 id="who">Any skill level!</h1>
            <h1 id="who">Any prior experience or none at all!</h1>
            <h1 id="who">Anyone who wants to learn!</h1>
        </div>
        <p>With the advent of apps like Robinhood, nearly anyone can enter into the market to trade a variety of instruments. Just having an app does not make you a trader. How many people with Robinhood can tell you about capital management, precision position size based on portfolio parameters or how to identify, much less trade, a bullish divergence? The answer is probably not many. Why not take some time to lay a solid foundation upon which you can add via continued education and hands on trading?</p>
        <br>
        <p id="disclaimer">***Nothing contained in/on, or referenced to, in/on this site is meant to be used for or construed as financial advice. All information provided within is just opinion and can be fact-checked against any reputable source.***</p>
</body>
</html>