<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Future home of Trading Pro</h1>
    <h2>An all-inclusive site to help you build a strong foudnation for your trading career.</h2>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Trading Philosophy</a></li>
        <li><a href="">Indicators</a></li>
        <li><a href="">Position Size Calculator</a></li>
        <li><a href="">Trade Journal</a></li>
    </ul>
</body>
</html>