<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indicators</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Indicators</h1>
        <h2>"Stick with what you know and ignore the rest."</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/risk_management">Risk Management</a></li>
            <li><a href="/philosophy">Trading Philosophy</a></li>
            <li><a href="/indicators">Indicators</a></li>
            <li><a href="/calculate">Position Size Calculator</a></li>
            <li><a href="">Trade Journal</a></li>
        </ul>
        <h2 id="opener">The above quote could not be any truer, especially in the context of indicators. Indicators are just visual depictions of market sentiment which traders can use to increase the probability of a winning trade. They can be used separately or in conjunction with each other and there is no set rule on how many to use or in what combinations. The below are some key indicators I use and examples of how I interpret them.</h2>
        <div class="indicator_example">
            <h2 id="opener">Relative Strength Index</h2>
            <h3>Relative strength index is sort of what it sounds like. It is a measurement of how strong price momentum is at a particular point in time.</h3>
            <h3>The areas to really pay attention are the zone between 30-70. When RSI is in between these levels, price is considered neutral, neither overbought or oversold.</h3>
            <h3>When price is above 70, it is considered "overbought".</h3>
            <h3>When price is below 30, it is considered "oversold".</h3>
            <h3>While not etched in stone, RSI that enters one of these extremes oftentimes leads to a reversal in current price action.</h3>
            <a href="/rsi_examples" class="example_link">Examples</a>
        </div>
        <div class="indicator_example">
            <h2 id="opener">Moving Average</h2>
            <h3>The moving average is a line drawn based on a timeframe and the average price of something over that time.</h3>
            <h3>For example, the 200-day Moving Average will show the average price of a coin or stock for the previous 200 days.</h3>
            <h3>While seemingly insignificant, this is a great place to find support and resistance as well as to help set bias.</h3>
            <h3>If price is > 200-day Moving Average, it is typically bullish.</h3>
            <h3>If price is < 200-day Moving Average, it is typically bearish.</h3>
            <h3>Take a look at the exmpales to get an idea of how useful this tool can be.</h3>
            <a href="/moving_av_examples" class="example_link">Examples</a>
        </div>
        <div class="indicator_example">
            <h2 id="opener">Exponential Moving Averages</h2>
            <h3>Exponential Moving Averages are similiar to a moving average with the biggest difference being that more weight is given to recent price action and thus, makes the indicator a "faster" one that the regular moving average.</h3>
            <h3>While giving more weight to recent price action, EMA's can still be used just like, and even in conjunction with the moving average to identify support and resistance levels.</h3>
            <h3>Just like the moving average, when price is below these, it is considered bearish. When price is above, it is considered bullish.</h3>
            <h3>Price above EMA's > EMA's = support.</h3>
            <h3>Price below EMA's > EMA's = resistance</h3>
            <a href="/ema_examples" class="example_link">Examples</a>
        </div>
        <div class="indicator_example">
            <h2 id="opener">Other Indicators</h2>
            <h3>There are countless indicators and combinations of, but here are some other popular ones you can explore:</h3>
            <h3>Volume: More volume indicates conviction in a move, either up or down.</h3>
            <h3>Visible Range Volume Profile: This shows orders at certain price levels, demosntrated with "nodes". Nodes can act as support or resistnace depending on where price is in relation to the node.</h3>
            <h3>Stochastic RSI: Measures the momentum of the RSI. When Stochastic enters either oversold or overbought territory, this can indicate a reversal in current price action. It can also be used to confirm levels such as nodes or EMA's as support or resistance for entry.</h3>
            
            <a href="/ema_examples" class="example_link">Examples</a>
        </div>
    </div>
    
</body>
</html>