<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indicators</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Indicators</h1>
        <h2>"Stick with what you know and ignore the rest."</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/risk_management">Risk Management</a></li>
            <li><a href="/philosophy">Trading Philosophy</a></li>
            <li><a href="/indicators">Indicators</a></li>
            <li><a href="/calculate">Position Size Calculator</a></li>
            <li><a href="">Trade Journal</a></li>
        </ul>
        <h2 id="opener">The above quote could not be any truer, especially in the context of indicators. Indicators are just visual depictions of market sentiment which traders can use to increase the probability of a winning trade. They can be used separately or in conjunction with each other and there is no set rule on how many to use or in what combinations. The below are some key indicators I use and examples of how I interpret them.</h2>
        <div class="indicator_example">
            <h2 id="opener">Relative Strength Index</h2>
            <h3>Relative strength index is sort of what it sounds like. It is a measurement of strong the current price momentum is at a particular point in time.</h3>
            <h3>The areas to really pay attention are the zone betw33n 30-70. When RSI is in between these levels, price is considered neutral, neither overbought or oversold.</h3>
            <h3>When price is above 70, it is considered "overbought".</h3>
            <h3>When price is below 30, it is considered "oversold".</h3>
            <h3>While not etched in stone, RSI that enters one of these extremes oftentimes leads to a reversal in current price action.</h3>
            <a href="/rsi_examples" class="example_link">Examples</a>
        </div>
    </div>
    
</body>
</html>