<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Examples of Moving Average (200-day)</h1>
    <h2>Bullish Moving Average Price Action</h2>
    <a href="/indicators">Return to Indicators Page</a>
    <img src="static\img\bullish_ma_ex.png" alt="moving average">
    <br>
    <h2>Bearish Moving Average Price Action</h2>
    <a href="/indicators">Return to Indicators Page</a>
    <img src="static\img\bearish_ma_ex.png" alt="moving average">
</body>
</html>