<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Volume Example (Increasing volume to support a move up):</h2>
    <a href="/indicators">Return to Indicators Page</a>
    <img src="static\img\volume_example.png" alt="support_volume">
    <h2>Visible Range Volume Profile:</h2>
    <a href="/indicators">Return to Indicators Page</a>
    <img src="static\img\visible_range_example.png" alt="support_volume">
    <h2>Visible Range Volume Profile:</h2>
    <a href="/indicators">Return to Indicators Page</a>
    <img src="static\img\stoch_rsi_example.png" alt="support_volume">
</body>
</html>