<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=cd, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Trading Philosophy</h1>
        <h2>"Trading is easy, just buy low and sell high."</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/philosophy">Trading Philosophy</a></li>
            <li><a href="">Indicators</a></li>
            <li><a href="/calculate">Position Size Calculator</a></li>
            <li><a href="">Trade Journal</a></li>
        </ul>
        <h2 id="opener">Trading can get increasingly complex without venturing too far in which is why I aim to simplify things. If you can remember a few basic principles, you will lay a solid foundation for profitable trading. 1 & 2 are the most important and the rest are in no particular order.</h2>
        <h3>1. If you aren't prepared to develop and implement a risk-management plan, then stop right now.</h3>
        <h3>2. Develop and implement a risk-management system (I will explain this on the position size calculator page).</h3>
        <h3>3. Create and stick to your plan. This is so crucial and is something most people have to learn the hard way.</h3>
        <h3>4. Don't chase trades.</h3>
        <h3>5. Ignore the noise because there is a lot of it out there. Remember that the goal isn't to catch the bottom and top of every trade. It is about slicing off a piece of the action in between the bottom and the top</h3>
        <h3>6. Trade with the trend. Remember, "The trend is your friend."</h3>
        <h3>7. Keep things simple. As you will learn, there are a host of indicators out there which can be employed in a strategy but it doesn't mean you need to watch more than 1 or 2. This is a great place to get lost but I would encourage you to look around at a variety of them to see what makes the most sense to you.</h3>
        <h3>8. You can't predict price, so don't try to. Remember that trading is more about having a game plan at different levels should price visit that area of interest.</h3>
    </div>
    
</body>
</html>