<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk Management</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Trading Pro</h1>
        <h2>"Everybody knows what they're doing...as long as they're winning."</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/risk_management">Risk Management</a></li>
            <li><a href="/philosophy">Trading Philosophy</a></li>
            <li><a href="">Indicators</a></li>
            <li><a href="/calculate">Position Size Calculator</a></li>
            <li><a href="">Trade Journal</a></li>
        </ul>
</body>
</html>