<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h2>Oversold Example:</h2>
        <a href="/indicators">Return to Indicators Page</a>
        <img src="static\img\rsi_example1.png" alt="oversold_example">
        <br>
        <h2>Overbought Example:</h2>
        <a href="/indicators">Return to Indicators Page</a>
        <img src="static\img\rsi_example2.png" alt="overbought_example">
        <h2>Bullish Divergence Example:</h2>
        <a href="/indicators">Return to Indicators Page</a>
        <img src="static\img\bullish_divergence.png"> 
        <h2>Bearish Divergence Example:</h2>
        <a href="/indicators">Return to Indicators Page</a>
        <img src="static\img\bearish_divergence.png" 
    </body>
</html>