<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Trade Stats:</h1>
    <h4>Profit Per Share:</h4>
    <h4>Stop-Loss Per Share:</h4>
    <h4>Risk to Reward Ratio:</h4>
    <h4>Return on Trade:</h4>
    <h4># of Shares:</h4>
    <h4>Total Position Size:</h4>
    <a href="/calculate">Back to Calculator</a>
</body>
</html>