.container {
    margin: 0px auto;
    background-color:orange;
    height: auto;
    border: solid black;
}

h1 {
    color:yellow;
    background-color:navy;
    text-align: center;
    font-size: 50px;
    border: solid black;
}

h2 {
    text-align: center;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
}

a {
    margin: 50px;
}

img {
    height: 350px;
    border: solid black;
    margin: 20px 20px 20px 75px;
}

#any {
    display: inline-block;
    margin-left: 70px;
    width: 675px;
    height: 350px;
    vertical-align: top;
    background-color: yellow;
    border: solid black;
    margin: 20px;
}

#any #who {
    text-align: center;
    margin: 35px;
    color:navy;
    background-color: yellow;
    font-size: 45px;
    font-weight: bolder;
    font-style: italic;
}

p {
    color: yellow;
    background-color: navy;
}

#disclaimer {
    text-align: center;
}

h3 {
    font-style: italic;
    margin-left: 10px;
    color: yellow;
}

#opener {
    color: yellow;
    background-color: navy;
    padding: 5px;
}

#calculation_package {
    background-color: yellow;
    display: flex;
    justify-content: center;
}

#calc {
    display: inline-block;
    background-color: yellow;
    /* margin: 10px; */
    border: solid black;
    /* width: 210px; */
    /* height: 437.5px; */
}

#setup {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    border: solid black;
    margin-top: 110px;
}

#reminder {
    display: inline-block;
    background-color: navy;
    border: solid black;
    vertical-align: top;
    width: 350px;
} 

#stat_header {
    background-color: navy;
    color: yellow;
    margin: 0px;
}

h4 {
    color: yellow;
}

#calc_instructions {
    display: inline-block;
    vertical-align: top;
    background-color:navy;
    height: 437.5px;
    width: 440px;
    border: solid black;
}

#topper {
    margin: 0px;
    color: yellow;
   }

label {
    margin: 10px;
}
input {
    margin: 10px;
}

.turkey {
    height: 437.5px;
    width: 210px;
    margin: 30px 0px 5px 75px;
}

.trade {
    background-color: navy;
    /* height: 250px; */
    width: 250px;
    display: inline-block;
    margin-left: 260px;
    margin-bottom: 10px;
    vertical-align: top;

}

.pupper {
    padding: 9px;
}

h5 {
    color: yellow;
    padding: 10px;
}

#philosophy {
    background-color: navy;
    padding: 5px;
}

.risk_principle {
    height: 633px;
    width: 500px;
    display: inline-block;
    background-color: navy;
    padding: 5px;
    vertical-align: top;
    margin-left: 5px;

}

#example_1 {
    text-align: center;
    text-decoration: underline;
}

#r_r_examples {
    display: inline-block;
    background-color: navy;
    width: 265px;
}